<form  action="" [formGroup]="form" class="form-control mx-auto my-5 mt-5 border rounded w-50 h-50" (ngSubmit)="login()" >
    <div class="d-flex col-md-5 mx-auto" >
       <span class="fs-3 " style=""  >Login</span>
       <div class="" >
        <mat-icon fontIcon="how_to_reg" style="color: #094aa4; " class="fs-2 mt-2" ></mat-icon>
       </div>
    </div>
    <div class="div"  >
        <mat-form-field class="mt-5 mx-auto col-md-10 d-flex" color="warn"  >
            <mat-label class="text " color="accent" >Name</mat-label>
            <input type="text" class="border-success" matInput placeholder="Your name here" formControlName="name" >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="mt-1 mx-auto col-md-10 d-flex" color="warn"  >
            <mat-label class="text " color="accent" >Email</mat-label>
            <input type="text" class="border-success" matInput placeholder="Your email here" formControlName="email" >
        </mat-form-field>
    </div>

    <button class="mx-auto col-md-5 d-flex" mat-raised-button type="submit" [disabled]="!form.valid" >
        <span>Submit</span>
    </button>
</form>

<!-- <button (click)="login()" >Click</button> -->